# ==========================================
# Pastas temporárias e geradas pela Unity
# ==========================================
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# ==========================================
# Projetos de IDEs / Editores (VS Code, Visual Studio, Rider)
# ==========================================
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# ==========================================
# Arquivos de Build e Compilação
# ==========================================
*.apk
*.aab
*.unitypackage
*.app

# ==========================================
# Sistema Operacional
# ==========================================
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db